*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text: #0D1821;
  --darkblue: #344966;
  --lightblue: #B4CDED;
  --background: #F0F4EF;
  --pink: #B279A7;

}
.footer {
  background-color: var(--darkblue);
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
    padding: 10px;
}