*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
  background-color: var(--background);
}

.title{
    font-size: 2rem;
    color: var(--darkblue);
    margin-top: 1px;
}

hr{
    border: none;
    height: 5px;
    background-color: var(--darkblue);
    margin: 1rem 0;
}

h2{
    color: var(--darkblue);
    margin-bottom: 1rem;
    font-size: 3.5rem;
}

.features {
    text-align: center;
    color: var(--darkblue);
    font-size: 2rem;
    display: flex;
    column-gap: 1.5rem;
}

.leftcard{
    width: 600px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
    border-radius: 15px;    
    padding: 1rem;
}

.innercard{
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    border-radius: 1rem;
    background-color: var(--lightpink);
}

.leftcard.flipped .innercard{
    transform: rotateY(180deg);
}

.cardtopleft, .cardbottomleft{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardbottomleft{
    transform: rotateY(180deg);
}

.cardtopleft{
    background-color: var(--lightpink);
    color: var(--background);
    border-radius : 1rem;
}
.cardbottomleft{
    background-color: var(--lightblue);
    color: var(--text);
    border-radius: 1rem;

}

.rightcard{
    width: 600px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
    border-radius: 15px;    
    padding: 1rem;
}

.rightinnercard{
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    border-radius: 1rem;
    background-color: var(--lightpink);
}

.rightcard.flipped .rightinnercard{
    transform: rotateY(180deg);
}

.cardtopright, .cardbottomright{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardbottomright{
    transform: rotateY(180deg);
}

.cardtopright{
    background-color: var(--lightblue);
    color: var(--text);
    border-radius: 1rem;
}
.cardbottomright{
    background-color: var(--lightpink);
    color: var(--background);
    border-radius : 1rem;

}
.cardbottomright p{
    color: var(--background);
}

.cardtopleft p{
    color: var(--background);
}

/*Meet us!*/

.meetTheTeam {
    margin-top: 3rem;
}

.meetTheTeam h2 {
    color: var(--darkblue);
    margin-bottom: 2rem;
}

.developerCardsContainer{
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 10px;

    background-color: var(--darkblue);
}

.developerCard img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.developerCard h3 {
    color: var(--lightblue);
}

.developerCard h4 {
    color: var(--lightlightpink);
}

.developerCard p {
    color: var(--background);
}