*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text: #0D1821;
  --darkblue: #344966;
  --lightblue: #B4CDED;
  --background: #F0F4EF;
  --pink: #B279A7;

}

body {
  background-color: var(--background);
}

.title{
    font-size: 2rem;
    color: var(--darkblue);
    margin-top: 1px;
}

hr{
    border: none;
    height: 5px;
    background-color: var(--darkblue);
    margin: 1rem 0;
}

h2{
    color: var(--darkblue);
    margin-bottom: 1rem;
    font-size: 3.5rem;
}

.features {
    text-align: center;
    color: var(--darkblue);
    font-size: 2rem;
    display: flex;
    column-gap: 1.5rem;
}

.leftcard{
    width: 600px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
    border-radius: 15px;    
    padding: 1rem;
}

.innercard{
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    border-radius: 1rem;
    background-color: var(--pink);
}

.leftcard.flipped .innercard{
    transform: rotateY(180deg);
}

.cardtopleft, .cardbottomleft{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardbottomleft{
    transform: rotateY(180deg);
}

.cardtopleft{
    background-color: var(--pink);
    color: var(--background);
    border-radius : 1rem;
}
.cardbottomleft{
    background-color: var(--lightblue);
    color: var(--text);
    border-radius: 1rem;

}

.rightcard{
    width: 600px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
    border-radius: 15px;    
    padding: 1rem;
}

.rightinnercard{
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    border-radius: 1rem;
    background-color: var(--pink);
}

.rightcard.flipped .rightinnercard{
    transform: rotateY(180deg);
}

.cardtopright, .cardbottomright{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardbottomright{
    transform: rotateY(180deg);
}

.cardtopright{
    background-color: var(--lightblue);
    color: var(--text);
    border-radius: 1rem;
}
.cardbottomright{
    background-color: var(--pink);
    color: var(--background);
    border-radius : 1rem;

}
/* .cardbottomleft{
    flex: 1;
    border-radius: 1rem;
    background-color: var(--lightblue);
    padding: 1rem;
    font-size: 2rem;
    color: var(--text);
} */

/* .leftside {
    flex: 1;
    border-radius: 1rem;
    background-color: var(--pink);
    padding: 1rem;
    font-size: 2rem;
    color: var(--background)
    
}

.rightside{
    flex: 1;
    border-radius: 1rem;
    background-color: var(--lightblue);
    padding: 1rem;
    font-size: 2rem;
    color: var(--text);
} */