*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Default styles for website */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: #0D1821;
  --darkblue: #344966;
  --lightblue: #B4CDED;
  --background: #F0F4EF;
  --pink: #B279A7;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--darkblue);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  color: var(--text);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--white);
  background-color: var(--darkblue);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--pink);
  color: var(--white);
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Custom styles for the notifications */

.success-notification {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: var(--text);
  color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.failure-notification {
    position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: var(--pink);
  color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Custom styles for the navbar and footer */

.navbar {
  background-color: var(--darkblue);
  width: 100vw;
 position: fixed;
  top: 0;
  left: 0;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
}

.navbar ul li {
  list-style: none;
  border-radius: 4px;
  font-size: 1.5rem;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--background);
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.navbar ul .nav-item a:hover {
  background-color: var(--lightblue);
  color: var(--text);
}


.navbar ul .nav-item .sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 5%;
  transition: opacity 0.5s ease;
  display: block;
  background-color: var(--background);
}

@media (min-width: 768px) {
  .navbar ul .nav-item .sub-menu {
    right: 15%;
  }
}

@media (min-width: 1024px) {
  .navbar ul .nav-item .sub-menu {
    right: 13%;
  }
}

.navbar ul .nav-item:hover .sub-menu,
.navbar ul .nav-item:focus-within .sub-menu {
  visibility: visible;
  opacity: 1;
}

.footer {
  background-color: var(--darkblue);
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
    padding: 10px;
}
